#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(254, 203, 122, 1) 0%,
    rgba(235, 168, 103, 1) 100%
  );
  border: 3px inset #db8205;
  outline: 2px solid #5b2b2a;
  padding: 1em;
  text-align: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
}

.modalLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.modalTitle {
  padding-bottom: 16px;
}

.modalTextArea {
  width: 300px;
  height: 75px;
  resize: none;
}

.modalBtns {
  font-family: 'SVThin';
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  padding-top: 1em;
  text-shadow: black 1px 1px, black 1px 1px 3px;
  background: none;
  border: none;
  cursor: pointer;
}

.modalBtns:hover {
  text-decoration: underline;
}
