#ingredientsDiv {
    margin: 50px;
  }

#ingredientsListDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin: 10px 0px;
}

.ingredientDiv {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-rows: 35px 48px;
    padding: 5px;
    margin: 5px;
    border: black 1px solid;
    width: 75px;
}

ol {
    margin: 0;
    padding: 0;
}
