/* TODO Add site wide styles */

@font-face {
  font-family: "SVThin";
  src: url("../src/media/fonts/svthin.ttf");
}
@font-face {
  font-family: "SVBold";
  src: url("../src/media/fonts/svbold.ttf");
}
@font-face {
  font-family: "SVTitle";
  src: url("../src/media/fonts/svtitle.ttf");
}
@font-face {
  font-family: "SVAllCaps";
  src: url("../src/media/fonts/svallcaps.ttf");
}

body {
  background: url("../src/media/images/background.png") no-repeat center center
    fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* Credit: https://css-tricks.com/perfect-full-page-background-image/  */
  position: relative;
  box-sizing: border-box;
  color: white;
  font-family: "SVThin";
  text-shadow: black 1px 1px, black 1px 1px 3px;
  height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SVBold";
  margin: 0;
  font-weight: normal;
}

svg {
  height: 2rem;
  width: 2rem;
}

i {
  font-size: 2rem;
}

li {
  list-style: none;
  padding: 2px;
}

#aboutMeImg {
  position: fixed;
  left: 10px;
  bottom: 10px;
  height: 100px;
  border-radius: 10px;
}

.fab {
  color: #5b2b2a;
  text-shadow: none;
}

#aboutMeLinks {
  display: flex;
  justify-content: space-around;
}

#speechBubble {
  position: fixed;
  width: 75px;
  bottom: 90px;
  left: 35px;
}

.iconz {
  background: none;
  border: none;
  cursor: pointer;
}

.iconz {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
  text-shadow: black 1px 1px, black 1px 1px 3px;
  background: none;
  border: none;
  cursor: pointer;
}


